/*
*  Change some global Style in Vuetify 
*/

$body-font-family = 'OpenSans-Regular'

@import '~vuetify/src/stylus/theme.styl'
$material-light.background = #fff

@import '~vuetify/src/stylus/main' 

//  Material Icons Local
@import '~material-design-icons/iconfont/material-icons.css';

  // For a-la-carte
@import '~vuetify/src/stylus/app'
