/*
* Custom Variables
*/

$color-main: #42a5f5;
$color-main-hover: #42a5f5;
$color-secondary: #6a5d9c;
$color-secondary-hover: #402c86;
$color-dark: #636e72;
$color-light: #b2bec3;
$color-black: black;
$color-white: white;

$font-size: 100%;

$font-family: 'OpenSans-Regular', sans-serif;

$transition: 0.2s all ease-in;
